.vagrant
work
.mvn/
target/
.travis.yml
docker-compose.yml
mvnw.cmd
mvnw
settings.gradle
cell/simpleclient/
templates/a-orm/
templates/clean.sh
templates/fragments/check-in/deploy-pipeline.json
templates/g-docker/
templates/g-orm/
templates/g-simple2/
templates/ng-maven/
templates/ng-web/
templates/orm/
templates/simple/
lib/